* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #000;

}
.container {
    position: relative;
}
.logo {
    font-size: 150px;
    color: #fff;
    position: relative;

    text-shadow: 0 0 50px green,
                 0 0 100px green,
                 0 0 200px green,
                 0 0 250px green,
                 0 0 300px green
                ;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
         filter: hue-rotate(360deg);
    }
}